:root {
  /*color*/
  --clr-red: #ff3636;
  --clr-black-60: rgba(0, 0, 0, 0.6);
  --clr-black-200: #333333;
  --clr-yellow: #ffae03;
  --clr-green: #04f06a;
  --clr-white: #ebe9e9;
  --clr-blue-400: #4ea5d9;
  --clr-blue-300: #9dcbba;
  --clr-blue-200: #abebd2;
  /*font-size*/
  --fs--xlrg: 4.3em;
  --fs--lrg: 3em;
  --fs--mdx: 2em;
  --fs--md: 1.2em;
  --fs--normal: 1em;
  --fs--sm: 0.9em;
  /*font-weight*/
  --fw--lg: 700;
  --fw--md: 500;
  --fw--s: 300;
  /*margin*/
  --m--xxlg: 4em;
  --m--xlg: 3em;
  --m--lg: 2em;
  --m--md: 1em;
  --m--s: 0.5em;
  --m--xs: 0.25em;
  /*padding*/
  --p--xxlg: 4em;
  --p--xlg: 2em;
  --p--lg: 1.5em;
  --p--md: 1em;
  --p--s: 0.5em;
  --p--xs: 0.25em;
  /*border-raduis*/
  --br--lg: 1em;
  --br--md: 0.5em;
  --br--s: 0.25em;
  /*transition*/
  --transition--35: transform 3500ms ease-in-out;
  /*box-shadow*/
  --box-shadow--15: 0 0 1.5rem hsl(0 0% 100% / 0.8);
  --box-shadow--black: 1em 1em 2em 0.5em rgb(0 0 0 / 60%);
  --box-shadow--card: 1.2em -1.2em 1.2em -0.25em var(--clr-black-60);
  /*gap*/
  --gap--lrg: 3em;
  --gap--md: 2em;
  --gap--s: 1em;
  --gap--xs: 0.5em;
  /*letter spacing*/
  --ls--sm: 0.5em;
}
/*****************************************************/
body::-webkit-scrollbar {
  width: 0.5em; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 50vw;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-red); /* color of the scroll thumb */
  border-radius: 50vw; /* roundness of the scroll thumb */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/**********************************************************************************/
html {
  position: relative;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background: var(--clr-black-200);
  color: var(--clr-white);
  line-height: 1.6;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/***************************************************************************/
/*GLOBLA CLASSES*/
.type-select {
  margin: var(--m--md) auto;
  background: var(--clr-green);
  color: var(--clr-white);
  text-transform: uppercase;
}

.type-select:active {
  animation: elastic 0.3s ease-in 0s 1 normal;
}

@keyframes flipiny {
  0% {
    opacity: 0;
    transform: perspective(400px) rotateY(90deg);
  }
  40% {
    transform: perspective(400px) rotateY(-10deg);
  }
  70% {
    transform: perspective(400px) rotateY(10deg);
  }
  100% {
    opacity: 1;
    transform: perspective(400px) rotateY(0deg);
  }
}

.container {
  padding: 0 var(--p--md);
  margin: 0 auto;
}

.btn {
  display: block;
  padding: var(--p--s) var(--p--md);
  font-size: var(--fs--normal);
  border: 0;
  outline: 0;
  cursor: pointer;
  width: max-content;
  border-radius: var(--br--md);
  font-weight: bold;
}

img {
  width: 100%;
}

/*display movie/series section*/
.media-section {
  margin: var(--m--xlg) var(--m--lg);
}

/* special-title */
.section-title {
  width: max-content;
  margin: 0 auto var(--m--md);
  text-transform: uppercase;
  color: var(--clr-red);
  letter-spacing: var(--ls--sm);
  font-size: var(--fs--normal);
}

.media-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap--md);
  align-items: center;
  justify-content: space-evenly;
  align-items: baseline;
}

.bg-black {
  background: var(--clr-black-60);
  /* 
  -webkit-box-shadow: 0px 0px 19px 19px #ff3636 inset;
  -moz-box-shadow: 0px 0px 19px 19px #ff3636 inset;
  box-shadow: 0px 0px 19px 19px #ff3636 inset; */
}

.bg-glass {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.alert-wrapper {
  position: fixed;
  background: var(--clr-black-200);
  color: var(--clr-white);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding-top: var(--p--xxlg);
}
/**********************************/
/*display qoute section*/
/*qoute section*/
.quote-section {
  display: flex;
  justify-content: center;
  margin: var(--m--xlg) var(--m--lg);
  font-style: italic;
}
.quote-text {
  font-weight: bold;
}

.quote-text p {
  margin: 0;
  font-style: italic;
}

.quote-text span {
  display: block;
  color: var(--clr-green);
  text-align: right;
}

.quote-img {
  display: none;
}
/**********************************************/
/*star-popular display*/

.popular-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popular-info {
  display: none;
}
/**********************************************/
/*Single-movie-page*/

.media-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: var(--clr-white);
  overflow: hidden;
}

.media-intro {
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: -100;
  filter: contrast(200%) brightness(20%);
}

.media-poster {
  width: 15em;
  padding: var(--p--xxlg) 0;
}

.media-info .info {
  margin: 0 var(--m--md);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: var(--gap--xs);
  justify-items: center;
  align-items: center;
  text-transform: capitalize;
  text-align: center;
}

.media-info .title {
  grid-column: 1/3;
  grid-row: 1/2;
  font-size: var(--fs--md);
  width: max-content;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--clr-red);
  margin: var(--m--xs) auto;
}

.info .gneres span {
  margin-right: var(--m--md);
  position: relative;
  font-size: var(--fs--sm);
}
.info .gneres span:not(span:last-of-type)::after {
  content: ".";
  position: absolute;
  color: var(--clr-red);
  right: 0;
  top: 50%;
  font-size: var(--fs--md);
  transform: translate(0.5em, -50%);
}

.info .overview {
  grid-column: 1/3;
  grid-row: 4/5;
  font-size: var(--fs--sm);
  text-align: center;
}
.info .tagline {
  width: max-content;
  margin: 0 auto;
  grid-column: 1/3;
  grid-row: 7/8;
  font-style: italic;
  text-align: center;
  line-break: anywhere;
}

.imdb-link {
  grid-column: 1/3;
  grid-row: 6/7;
  background: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}
.imdb-link img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.youtube-link {
  background: transparent;
}

.youtube-link svg {
  color: var(--clr-red);
  font-size: var(--fs--lrg);
}
/***************************************************************************************/

/*Grid*/
.grid-center {
  display: grid;
  place-items: center;
}

.grid-lg {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: var(--gap--md);
  row-gap: var(--gap--lrg);
}

.grid-md {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--gap--s);
  row-gap: var(--gap--lrg);
}

.grid-sm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1em;
  row-gap: 2em;
}

.flex-xsm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2em;
}

.fw-600 {
  font-weight: bold;
  text-transform: capitalize;
  color: var(--clr-green);
}
/* card-desgin */
/*single media desgin*/
/*MEDIA-QUERY*/

/* small screen */
@media (min-width: 760px) {
  .container {
    width: 750px;
  }

  /*movie/series display*/
  .section-title {
    font-size: var(--fs--mdx);
  }

  .media-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--gap--s);
    row-gap: var(--gap--md);
    justify-items: center;
  }

  /*quotes display*/
  .quote-text p {
    font-size: var(--fs--md);
  }

  /*star-popular*/
  .popular-info {
    margin-top: var(--m--md);
    display: flex;
    align-items: center;
    gap: var(--gap--lrg);
  }

  .popular-info a {
    text-decoration: none;
    color: var(--clr-green);
    font-size: var(--fs--normal);
  }

  .poster-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .poster-wrapper img {
    width: 100%;
  }
}

/* medium screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  /*movie/series display*/
  .media-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--gap--s);
    row-gap: var(--gap--lrg);
    justify-items: center;
  }

  /*quote display*/
  .quote-section {
    display: grid;
    justify-items: center;
    grid-gap: var(--gap--lrg);
    align-items: center;
    grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(
        1em,
        1fr
      );
  }
  .quote-text {
    grid-column: 2 / 3;
  }

  .quote-img {
    display: block;
    grid-column: 3 / 4;
    width: 15em;
    position: relative;
    box-shadow: var(--box-shadow--black);
    transform: skew(-5deg);
  }
  .quote-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--clr-black-60);
  }

  .quote-img img {
    width: 100%;
  }
}
/* Large screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  .media-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: var(--gap--md);
    row-gap: var(--gap--lrg);
    justify-items: center;
  }

  /*star-popular*/

  .popular-wrapper {
    display: grid;
    grid-template-columns: auto minmax(200px, 400px) minmax(300px, 600px) auto;
    justify-items: center;
    align-items: center;
  }

  .popular-card {
    grid-column: 2/3;
  }

  .popular-info {
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap--md);
  }

  .popular-info a {
    text-decoration: none;
    color: var(--clr-red);
    font-size: var(--fs--normal);
  }

  .poster-wrapper {
    position: relative;
    overflow: hidden;
  }

  .poster-wrapper::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 4em;
    background: var(--clr-white);
    top: -14px;
    left: 0%;
    transform: rotate(-30deg) translateX(-17%);
  }

  .poster-wrapper span {
    position: absolute;
    transform: rotate(-30deg) translateX(-8%);
    width: 60%;
    left: 0;
    top: 8%;
    font-size: var(--fs--normal);
    font-weight: bolder;
    line-break: revert;
    text-align: center;
  }

  /*Single-movie-page*/

  .media-info {
    display: grid;
    position: relative;
    padding: var(--p--xxlg) 0;
    color: var(--clr-white);
    grid-template-columns:
      minmax(1em, 1fr) minmax(200px, 500px) minmax(300px, 700px)
      minmax(1em, 1fr);
    overflow: hidden;
  }

  .media-intro {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -100;
    filter: brightness(15%);
  }

  .media-poster {
    grid-column: 2 / 3;
    width: 20em;
    align-self: baseline;
  }

  .media-info .info {
    grid-column: 3/4;
  }

  .media-info .title {
    font-size: var(--fs--mdx);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--clr-red);
  }

  .info .gneres span {
    margin-right: var(--m--md);
  }

  .info .overview {
    font-size: var(--fs--md);
  }
  .info .tagline {
    font-style: italic;
  }

  .imdb-link {
    background: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
  }
  .imdb-link img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
  }
}
/**************************************************************************/
/*NAVBAR*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  padding: var(--p--s);
  background-color: transparent;
}

.navbar .wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar--toggle {
  margin-left: auto;
  font-size: var(--fs--md);
  color: var(--clr-blue-400);
  cursor: pointer;
  transition: var(--transition--35);
  order: 3;
  transform: translateY(3px);
}
.navbar--toggle:hover {
  transform: translateY(3px) scale(1.1);
}

.logo {
  width: 200px;
}
.navbar--links {
  display: none;
}
.navbar--search {
  display: block;
  margin: 0 var(--m--md);
  position: relative;
  order: 2;
}

.navbar--search input {
  outline: none;
  padding: var(--p--xs) var(--p--s);
  border: 0.5px solid var(--clr-blue-200);
  border-radius: var(--br--s);
  font-size: var(--fs--sm);
  caret-color: var(--clr-red);
  color: var(--clr-red);
}
.navbar--search input:placeholder-shown {
  color: var(--clr-blue-300);
  font-size: var(--fs--sm);
  text-transform: uppercase;
}
.search-icon {
  display: none;
}

.navbar.active {
  background: var(--clr-black-60);
}

@media (min-width: 800px) {
  .logo {
    width: 150px;
    padding-left: var(--p--md);
  }

  .navbar {
    background: transparent;
  }

  .navbar--toggle {
    display: none;
  }
  nav {
    overflow: hidden;
  }

  .navbar--links {
    display: flex;
  }

  .navbar--links ul {
    list-style: none;
  }

  .navbar--links li {
    display: inline-block;
  }

  .navbar--links li a {
    text-transform: capitalize;
    padding: var(--p--md);
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative;
    transition: var(--transition--35);
    margin-right: var(--m--lg) s;
  }

  .navbar--links li a:before {
    content: "";
    position: absolute;
    background: var(--clr-blue-300);
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }

  .navbar--links a:hover {
    color: var(--clr-white);
  }

  .navbar--links a:hover:before {
    transform: translate(0) scale(1.1);
  }

  .navbar--search {
    display: block;
    padding-right: var(--p--md);
    position: relative;
  }

  .navbar--search input {
    outline: none;
    padding: var(--p--xs) var(--p--s);
    border: 0.5px solid var(--clr-blue-200);
    border-radius: var(--br--s);
    font-size: var(--fs--sm);
    caret-color: var(--clr-blue-400);
    color: var(--clr-blue-400);
  }
  .navbar--search input:placeholder-shown {
    color: var(--clr-green);
    font-size: var(--fs--sm);
    text-transform: uppercase;
  }
  .search-icon {
    display: block;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate(50%, -50%) rotate(90deg);
    color: var(--clr-black-200);
  }
}

/*SIDEBAR*/
.sidebar {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: var(--clr-black-60);
}

.close--tag {
  position: absolute;
  top: 2.5em;
  right: 1.5em;
  z-index: 10;
  color: var(--clr-green);
  font-size: var(--fs--mdx);
  cursor: pointer;
}

.sidebar-wrapper {
  display: grid;
  place-items: center;
  margin: var(--m--xlg) var(--m--md);
  border-radius: var(--br--md);
}

.sidebar--links {
  list-style: none;
}

.sidebar--links li {
  padding: var(--p--lg) var(--p--xlg);
  margin: var(--m--lg) 0;
}

.sidebar--links li:hover {
  border-bottom: 0.25em solid var(--clr-blue-300);
}

.sidebar--links a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  font-size: var(--fs--md);
  font-weight: bold;
}

/*HOME*/
.home-intro {
  padding: 50vh 0;
  background: var(--clr-black-200)
    url(./image/myke-simon-atsUqIm3wxo-unsplash.jpg);
  background-size: cover;
  background-blend-mode: exclusion;
}

@media (min-width: 800px) {
  .movies-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*CARD*/
.card {
  position: relative;
  background: transparent;
  width: 20em;
  box-shadow: var(--box-shadow--card);
}

.card .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card .image img {
  width: 100%;
  transition: 0.5s;
}
.card:hover .image img {
  opacity: 0.2;
  transform: translateX(30%); /*100%*/
}

.card .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%; /*100%*/
  height: 100%;
  background: var(--clr-blue-300);
  transition: 0.8s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}
.card:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
  padding: 20px 0;
  width: 120%;
  text-align: center;
  background: var(--clr-black-200);
  position: absolute;
  top: 50%;
  color: var(--clr-white);
  transform: translateY(-50%);
  border-bottom-right-radius: var(--br--lg) var(--br--lg);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .details .center h1 {
  margin: 0;
  padding: 0;
  color: var(--clr-green);
  font-size: var(--fs--md);
  text-transform: uppercase;
  line-height: 1;
  /* line-break: anywhere; */
  word-break: break-word;
}

.card .details .center ul {
  margin: var(--m--md) 0;
  display: flex;
  justify-content: center;
  gap: var(--gap--xs);
}
.card .details .center ul li {
  list-style: none;
  text-transform: capitalize;
}
.card .details .vote {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap--xs);
  margin: 10px -10px;
  padding: 0;
  font-size: var(--fs--mdx);
  font-weight: bolder;
  color: var(--clr-white);
  position: absolute;
  top: 5%; /*0px*/
  left: 50%;
  transform: translate(-50%, -70px);
}
.card .details .vote .star-logo {
  color: var(--clr-black-200);
}

.card .details .date .danger {
  color: var(--clr-green);
}
.btn-details {
  margin: var(--m--md) 0;
  text-align: center;
  background: var(--clr-green);
}

.btn-details a {
  color: var(--clr-white);
  text-transform: capitalize;
  text-decoration: none;
  font-size: var(--fs--normal);
  font-weight: bold;
}
@media (min-width: 800px) {
  /*CARD*/
  .card {
    position: relative;
    background: transparent;
    width: 15em;
    box-shadow: var(--box-shadow--card);
  }
}

/*credits in single-movie -page*/
.actor {
  margin: var(--m--md) 0;
}
.actor a {
  text-decoration: none;
}
.actor-img {
  overflow: hidden;
  border-radius: var(--br--md);
}

.actor-img img {
  transition: all 0.5s ease-in-out;
  filter: grayscale(70%) brightness(70%);
  width: 12em;
}
.actor:hover .actor-img img {
  transform: scale(1.3) rotate(10deg);
  filter: grayscale(0) brightness(70%);
}
.actor p {
  width: max-content;
  margin: var(--m--s) auto;
  color: var(--clr-green);
}

.actor p:first-of-type {
  font-weight: bold;
}

.actor p:last-of-type {
  font-style: oblique;
}
.actor .danger {
  font-size: 0.9em;
  color: var(--clr-red);
}

.actor .char-name {
  display: flex;
  flex-wrap: wrap;
  max-width: 20ch;
  text-align: center;
}

/*Search page*/
.search-msg {
  grid-column: 1/4;
  color: var(--clr-green);
  justify-self: center;
}
/*Footer*/

.footer {
  background: var(--clr-red);
  color: var(--clr-white);
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer .wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-logo {
  margin: 0 var(--m--lg);
  transition: all 1s;
}
.footer:hover .footer-logo {
  transform: scale(1.5);
}

.footer-btn img {
  width: 150px;
}

/*Credit-page*/
.credit-page {
  margin-top: var(--m--xxlg);
}

.credit-image {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.credit-gallary {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap--xs);
}
.credit-gallary img {
  width: 3.5em;
  filter: brightness(60%);
}

.control-display {
  display: flex;
  justify-content: space-between;
  margin: 0 var(--m--md) var(--m--md);
}

.control-display .btn {
  background-color: transparent;
  font-size: var(--fs--md);
  color: var(--clr-green);
}

.credit-info {
  text-align: center;
}
.credit-info p {
  margin: 0 auto 1em;
  width: 30ch;
}

.credit-info span {
  margin: 0 var(--m--xs);
}

.credit-info .label {
  color: var(--clr-green);
  font-weight: bold;
}

.popular-logo {
  margin-left: var(--m--xs);
  color: var(--clr-green);
}

.actor-bio {
  margin: 0 var(--m--xxlg);
}
/*Review*/

.review-btn {
  background: transparent;
  color: var(--clr-green);
  font-size: var(--fs--normal);
  font-weight: bold;
  text-transform: capitalize;
}

.review-btn span {
  display: inline-block;
  padding: var(--p--md) var(--p--s) 0;
}

.reviewer-headline a {
  text-decoration: none;
  font-size: var(--fs--md);
  font-weight: bold;
  color: var(--clr-blue-400);
  margin-right: var(--m--s);
}
.review-rate {
  display: inline-block;
  padding: var(--p--s);
  background-color: var(--clr-red);
  color: var(--clr-white);
  font-size: var(--fs--sm);
  border-radius: var(--br--md);
}
.review-rate .review-icon {
  font-size: var(--fs--normal);
  padding-top: var(--p--xs);
}
.profile-info {
  grid-column: 3 / 4;
}

/*REVIEW-SECTION*/
.review-wrapper {
  margin: var(--m--lg) auto;
}

.reviews {
  margin-bottom: var(--m--lg);
  padding: var(--p--lg);
  border-bottom: 0.1em solid var(--clr-green);
}

.reviewer-info {
  display: flex;
  align-items: center;
  gap: var(--gap--s);
}

.reviewer-img img {
  width: 5em;
  height: 5em;
  border-radius: 50%;
}

.review-content p {
  margin: 0.5em 0 0 6em;
  letter-spacing: 0.1em;
  font-size: 0.9em;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form-wrapper input,
.form-wrapper textarea {
  padding: 0.5em 1em;
  border: 0.5px solid grey;
  outline: none;
  border-radius: 0.5em;
}

.form-wrapper input:focus,
.form-wrapper textarea:focus {
  border: 0;
  outline: 0.5px solid var(--clr-red);
}

.form-wrapper input[type="file"] {
  border: 0;
  outline: 0;
  align-self: flex-end;
}

.form-wrapper button {
  align-self: center;
  margin: var(--m--md) 0;
  color: var(--clr-white);
  background: var(--clr-red);
}

/*ERROR*/

.alert-wrapper .section-title {
  margin: var(--m--s) auto;
}
.alert-wrapper p {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.alert-wrapper p:last-child {
  font-size: var(--fs--sm);
  color: var(--clr-blue-200);
}

.error-logo {
  font-size: var(--fs--xlrg);
}

.error-btn {
  background-color: var(--clr-red);
  margin: 1em auto;
  transition: all 0.5s ease-in-out;
}

.error-btn:hover {
  transform: scale(1.1);
  background: var(--clr-white);
  outline: 0.1em solid var(--clr-red) s;
}

.error-btn a {
  text-decoration: none;
  font-size: var(--fs--md);
  color: var(--clr-white);
  text-transform: capitalize;
}

.error-btn:hover a {
  color: var(--clr-red);
}

/*Loading*/
.alert-wrapper span {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: var(--clr-green);
  border-radius: 50%;
}

.first {
  animation: 0.5s linear 0s infinite alternate load;
  margin-right: var(--m--s);
}

.second {
  animation: 0.5s linear 0.5s infinite alternate load;
  margin-right: var(--m--s);
}

.Third {
  animation: 0.5s linear 1s infinite alternate load;
}

@keyframes load {
  0% {
    opacity: 0;
    transform: translatey(-10px);
  }
  50% {
    opacity: 0.6;
    transform: translatey(-5px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}

/*Pagination*/
.pagination {
  display: flex;
  align-items: center;
  width: max-content;
  margin: var(--m--md) auto;
}

.pagination .count {
  margin-right: var(--m--md);
  border-radius: 50%;
  color: var(--clr-white);
  font-size: 0.7em;
  width: 2em;
  height: 2em;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.pagination .count.active {
  background: rgba(255, 255, 255, 0.7);
  color: var(--clr-black-200);
}

@media (min-width: 800px) {
  .pagination {
    justify-content: space-evenly;
    margin: var(--m--xlg) auto;
  }

  .pagination .count {
    margin: 0;
    font-size: 0.8em;
  }
}

.genre-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--m--md);
}

.genre-container .genre {
  width: max-content;
  border: 0.1em solid var(--clr-green);
  margin: var(--m--xs) var(--m--s);
  padding: var(--p--xs);
  font-size: 0.7em;
  cursor: pointer;
  border-radius: 50vw;
  position: relative;
}

.genre-container .genre.active {
  color: var(--clr-black-200);
  background: var(--clr-white);
  z-index: 10;
}

.genre-container .genre .close {
  display: none;
}

.genre-container .genre.active .close {
  display: grid;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--clr-black-200);
  font-size: 1em;
  width: 2em;
  height: 2em;
  border: inherit;
  font-weight: bold;
  transform: translate(10px, -12px);
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  cursor: pointer;
  place-items: center;
}
@media (min-width: 800px) {
  .genre-container .genre {
    padding: 0.5em;
    font-size: 0.9em;
  }
}
